!!!
html
  head
    title tsv
    script(src='/javascripts/d3.js')
    script(src='/javascripts/d3.layout.js')
    script(src='/javascripts/jquery-1.6.1.js')
    script(src='/javascripts/jquery-ui.min.js')
    //script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js')
    //script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css') 
  body!= body
