{
  name: UCC Timeframe Census, 

  fromDate: {
    isModifiable: true,
    label: week of: ,
    minValue: {
      date: 2010-01-01 } },

  untilDate: {
    isModifiable: false,
    maxValue: {
      function: startOfThisWeek } },

  series: {
    label: "Departments: " 

  yLeftNames: [
    "wait time for clinical access",
    "wait time for vitals taken"
     ],

  yRightNames: [
    "number of patients waiting for clinical access",
    "number of patients waiting for vitals to be taken",
    "number of patients seen"
     ],

  query : "exec edw.UCC.TimeFrameCensusTS '20110718','20110723','30148,30348,30401,70248,70348,70448,70548,70648'"
}
