body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.vrule line {
  stroke: #eee;
  shape-rendering: crispEdges;
}

.vrule line.axis {
  stroke: #000;
}

.hlrule line {
  stroke: #eee;
  shape-rendering: crispEdges;
}

.hlrule line.axis {
  stroke: #000;
}

.hrrule line {
  stroke: #eee;
  shape-rendering: crispEdges;
}

.hrrule line.axis {
  stroke: #000;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
